.padder_top100 {
	padding-top: 100px !important;
}
.padder_top80 {
	padding-top: 80px !important;
}
.padder_top90 {
	padding-top: 90px !important;
}
.padder_top5 {
	padding-top: 5px;
}
.padder_top10 {
	padding-top: 10px;
}
.padder_top20 {
	padding-top: 20px;
}
.padder_top110 {
	padding-top: 110px;
}
.padder_top50 {
	padding-top: 50px;
}
.padder_top55 {
	padding-top: 55px;
}
.padder_top60 {
	padding-top: 60px;
}
.padder_top70 {
	padding-top: 70px;
}
.padder_top15 {
	padding-top: 15px;
}
.padder_bottom70 {
	padding-bottom: 70px;
}
.padder_bottom20 {
	padding-bottom: 20px;
}
.padder_top30 {
	padding-top: 30px;
}
.marger_top20 {
	margin-top: 20px;
}
.marger_top15 {
	margin-top: 15px;
}
.marger_bottom30 {
	margin-bottom: 30px;
}
.marger_bottom100 {
	margin-bottom: 100px;
}
.marger_bottom25 {
	margin-bottom: 25px;
}
.marger_top100 {
	margin-top: 100px;
}
.marger_top60 {
	margin-top: 60px;
}
.ms_relative_inner {
	position: relative;
}
.marger_top20 {
	margin-top: 20px;
}
.padder_bottom60 {
	padding-bottom: 60px !important;
}
.padder_bottom30 {
	padding-bottom: 30px !important;
}
.marger_bottom60 {
	margin-bottom: 60px;
}
.padding_right40 {
	padding-right: 40px;
}