  <div class="ms-banner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="ms_banner_img">
                    <img src="assets/images/banners/pepleo.png" width="300" alt="" class="img-fluid">
                </div>
                <div class="ms_banner_text">
                    <h1>As melhores</h1>
                    <h2 class="ms_color">Seu estilo, sua vida, sua música !</h2>
                    <p>Encontre músicas que você ama e também suas preferidas do passado, no meio de mais de 73 milhões de faixas..</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
